<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworkingD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE2223021BE483FC00D8BA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE22231E1BE483FC00D8BA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2223291BE483FC00D8BA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
